h1 {
color: deepskyblue;
margin-bottom:-15px;
}
.task-descriptions {
  margin-left: 50px;
  margin-top:-10px;
  margin-bottom: 5px;
}
h3 {
	border-bottom: solid;
	border-color: grey;
}
.Header {
	text-align: right;
}
#container {
	width: 800px;
	margin: 50px auto 100px;
	padding: 30px;
}
body {
	font-family: Helvetica;
	background-attachment: fixed;
}
.location {
	margin-top: -10px;
	margin-left: 15px;
	font-style: italic;
}
.date{
	float: right;
	color: deepskyblue;
}
h4 {
	margin-bottom: 0px;
}
#self-directed {
	margin-top: 0px;
}
a {
	color:black;
}
